<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :song_artist_name %> 
  <%= f.text_field :song_artist_name %> 
  <br />

  <%= f.submit %>
<% end %>
